@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-div{
  width: 40rem;
  border: 1px solid var(--grey);
  border-radius: .5rem;
  padding: 1rem;
  background-color: var(--light-blue);
  color: var(--white);
  text-align: center;
}

.count{
  font-size: 4rem;
}
.counter-div > *{
  margin-bottom: 2rem;
}

.btn{
  padding: .8rem 1rem;
  color: var(--white);
  font-weight: 600;
  font-size: 1.6rem;
  box-shadow: none;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
}
.btn:not(:last-child){
  margin-right: 1rem;
}
.subtract{
  background-color: var(--color-sec);
}
.reset{
  background-color: var(--white);
  color: var(--black) !important;
}
.add{
  background-color: green;
}

.color-red{
  color: red !important;
}
.color-yollow{
  color: yellowgreen !important;
}